
* {
  font-family: "Silkscreen" 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*Horizontally center the content*/
    align-items: center; /* Vertically center the content */
    /* min-height: 100vh; Ensure the content fills the viewport height */
    
}

.grid-container {
    height: 600px;
    width: 600px;
    display: flex;
    border: 2px solid;
}

.block {
    display: flex;
    flex: 1;

}

.settings-container {
  margin-top: 1px;
    background-color: grey;
    border: 2px solid ;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.slider-container, .btn-container {
    background: rgba(255, 255, 0, 0.072);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-weight:lighter;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#slider {
  appearance: none;
  width: 146px;
  height: 25px;
  background: white;
  outline: none;
  opacity: 0.6;
  transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
  }
  
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
  }

  #sliderValue{
    white-space: pre-line; /*allow line breaks */
  }
  
  #btnRandom {
    font-weight: lighter;
    background-color: white;
    opacity: 0.8;
    transition: opacity .2s;
  }

  #btnRandom:hover {
    opacity: 1;
  }

  #btnRandom:active {
    background-color:rgb(204, 255, 0);
  }